// BODY //
$bg-color: #22242b;
$navbar-bg-color: #18191b;
$title-color: #7cc2ec;
$text-color: #f3f2f3;
$second-text-color: #919a9e;
$createdAt-color: #47a7f7;
$crud-color: #f66031;
$cards-bg-color: #2e3238;
$title-cards-bg-color: #0e1117;
$footer-bg-color: #101011;
$border-color: #6200ee;

// ALERT & VALID //
$valid-color: #58b201;
$error-color: #e4606b;
