.valid-color {
  color: $valid-color;
}
.error-color {
  color: $error-color;
}

.valid-bgc {
  background-color: $valid-color;
}

.error-bgc {
  background-color: $error-color;
}

.block-color {
  color: $crud-color;
}

.block-bcg {
  background-color: $crud-color;
}
