@mixin template-card() {
  border: solid 2px $border-color;
  display: flex;
  background-color: $cards-bg-color;
  flex-direction: column;
  border-radius: 15px;
  h3:not([class]) {
    padding: 10px 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: $title-color;
    background-color: $title-cards-bg-color;
    text-align: center;
  }
  p {
    color: $second-text-color;
    padding: 5px 20px;
    span {
      color: $text-color;
      text-transform: capitalize;
      font-weight: bold;
    }
  }
}
