<footer>
	<div class="social-network-container">
		<h4>follow us</h2>
		<div class="social-icons-container">
			<i class="fa-brands fa-facebook fa-xl"></i>
			<i class="fa-brands fa-instagram fa-xl"></i>
			<i class="fa-brands fa-x-twitter fa-xl"></i>
			<i class="fa-brands fa-youtube fa-xl"></i>
		</div>
	</div>
	<div class="line"></div>
	<div class="rules-container">
		<p>contact</p>
		<div class="line-top"></div>
		<p>c.g.u</p>
		<div class="line-top"></div>
		<p>cookies</p>
		<div class="line-top"></div>
		<p>privacy policy</p>
	</div>
</footer>
