<header id="header">
	<nav class="navbar-mobile">
		<i class="fa-solid fa-bars fa-xl" id="burger-menu"></i>
		<a href=""><img src="{{ asset('imgs/logo_mobile.webp')}}" alt="logo" draggable="false"></a>
		<div class="icons-container">
			<i class="fa-solid fa-magnifying-glass fa-xl" id="search"></i>
			<i class="fa-solid fa-user fa-xl">
				<a href="/"></a>
			</i>
		</div>
	</nav>
	<nav class="navbar-desktop"></nav>
</header>
