/* 1. Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* 3. Add accessible line-height */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
}

/* 4. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 5. Remove built-in form typography styles */
input,
label,
button,
textarea,
select {
  font: inherit;
}

/* 6. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 7. Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

// IMPORTS //

@import "./sass/colors";
@import "./sass/template";
@import "./sass/library";

/*//////////////////////////////////// FONT-FAMILY ///////////////////////////////////////*/
// @font-face {
//   font-family: "Poppins";
//   src: url("../fonts/font.ttf");
// }

/*//////////////////////////////////// BODY //////////////////////////////////////////////*/

body {
  z-index: 0;
  // font-family: "";
  // background-image: url('../imgs/');
  background-color: $bg-color;
}

/*/////////////////////////////// RESPONSIVE MOBIL 360px ///////////////////////////////////////*/

:root {
  font-size: 16px;
}

/*//////////////////////////////////// ALERTS //////////////////////////////////////////////*/

/*//////////////////////////////////// HEADER ////////////////////////////////////////////*/
header {
  i[class] {
    color: $text-color;
  }
  .navbar-desktop {
    display: none;
  }
  .navbar-mobile {
    z-index: 1;
    background-color: $navbar-bg-color;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    .fa-bars::before {
      border-radius: 5px;
      padding: 2px 5px;
      border: 2px solid $text-color;
    }
    img {
      margin-left: 25px;
      margin-bottom: 8px;
      height: 45px;
    }
    .icons-container > .fa-magnifying-glass {
      margin-right: 20px;
    }
  }
  .menu-burger-container {
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: $navbar-bg-color;
    width: calc(100vw - 19px);
    height: 100vh;
    animation: LeftToRight 0.3s ease-out;
    @keyframes LeftToRight {
      from {
        opacity: 0;
        width: 0;
      }
      to {
        opacity: 1;
        width: calc(100vw - 19px);
      }
    }
    @keyframes RightToLeft {
      from {
        opacity: 1;
        width: calc(100vw - 19px);
      }
      to {
        opacity: 0;
        width: 0;
      }
    }
    .fa-xmark::before {
      position: absolute;
      top: 30px;
      left: 26px;
    }
    .menu-mobile-container {
      position: absolute;
      width: max-content;
      height: auto;
      transform: translateX(calc(-50% + 19px));
      left: 50%;
      top: 25%;
      ul {
        display: flex;
        flex-direction: column;
        row-gap: 115px;
        li {
          a {
            font-size: x-large;
            font-weight: bold;
            color: $text-color;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

/*//////////////////////////////////// MAIN //////////////////////////////////////////////*/

main {
  flex: 1;
  margin-top: 80px;
  .threads-cards-container {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(1, 80vw);
    row-gap: 40px;
    justify-content: center;
    a:not([class]) {
      color: $border-color;
    }
    .thread-card {
      @include template-card;
    }
  }
  .thread-detail-container {
    padding: 20px 60px;
    .thread-detail-card {
      position: relative;
      @include template-card;
      row-gap: 20px;
      .actions-container {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 20px;
        background-color: #18191b7a;
        ul {
          display: flex;
          align-items: center;
          justify-content: space-around;
          li {
            background-color: $crud-color;
            border-radius: 5px;
            border: 2px solid $text-color;
            padding: 10px 5px;
            a,
            button {
              cursor: pointer;
              border: none;
              color: $text-color;
              background-color: inherit;
              text-transform: uppercase;
              font-weight: bold;
            }
          }
        }
      }
    }
    .thread-detail-card > p:nth-child(3) {
      position: absolute;
      top: 7px;
      right: 0;
    }

    .thread-responses-container {
      padding-top: 30px;
      h3 {
        padding: 20px 0;
        color: $text-color;
        text-transform: capitalize;
        font-weight: bold;
        text-align: center;
      }
      .thread-response-card {
        background-color: $cards-bg-color;
        border: 2px solid $border-color;
        border-radius: 15px;
        padding-top: 20px;
        i {
          float: right;
          margin-right: 20px;
          margin-top: 10px;
          cursor: pointer;
          color: $text-color;
        }
        p {
          color: $text-color;
          padding: 10px 20px;
        }
        h4,
        a {
          padding: 10px 20px;
          color: $text-color;
          text-transform: capitalize;
          font-weight: bold;
        }
        .actions-response-container {
          background-color: #18191b7a;
          margin-top: 20px;
          padding: 20px 0;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
          ul {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            li {
              background-color: $crud-color;
              border-radius: 5px;
              border: 2px solid $text-color;
              padding: 10px 5px;
              a {
                cursor: pointer;
                border: none;
                color: $text-color;
                background-color: inherit;
                text-transform: uppercase;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}

/*//////////////////////////////////// FOOTER ////////////////////////////////////////////*/
footer {
  border-top-right-radius: 10px;
  position: relative;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $footer-bg-color;
  height: max-content;
  .social-network-container {
    padding-top: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h4 {
      text-transform: uppercase;
      color: $text-color;
    }
    .social-icons-container {
      padding-top: 16px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 45px;
      i {
        color: $text-color;
      }
    }
  }

  .line {
    position: absolute;
    bottom: 30px;
    left: 15px;
    right: 15px;
    background-color: $second-text-color;
    height: 1px;
  }

  .rules-container {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    .line-top {
      width: 1px;
      height: 1rem;
      background-color: $second-text-color;
    }
    p {
      color: $second-text-color;
      text-transform: capitalize;
    }
  }
}

/*/////////////////////////////// RESPONSIVE TABLET //////////////////////////////////////*/

@media (min-width: 768px) {
  @import "./sass/tablet";
}

/*/////////////////////////////// RESPONSIVE DESKTOP /////////////////////////////////////*/

@media (min-width: 1024px) {
  @import "./sass/desktop";
}
