<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('imgs/favicon.ico')}}">
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% block header %}
			{% include "./includes/header.html.twig" %}
		{% endblock %}
		{% block body %}{% endblock %}
		{% block footer %}
			{% include "./includes/footer.html.twig" %}
		{% endblock %}
	</body>
</html>
