<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="description" content="forum for SIMPLON'school"/>
		<link rel="icon" href="{{ asset('imgs/favicon.ico')}}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
		{% endblock %}
		<title>
			{% block title %}{% endblock %}
		</title>
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% block header %}
			{% include "./includes/header.html.twig" %}
		{% endblock %}
		{% block body %}{% endblock %}
		{% block footer %}
			{% include "./includes/footer.html.twig" %}
		{% endblock %}
	</body>
</html>
