{% extends 'base.html.twig' %}

{% block title %}Edit Thread
{% endblock %}
{% block main %}
	<main>
		<h1>Edit Thread</h1>

		{{ include('threads/_form.html.twig',  {button_label: 'Update'}) }}
		<a href="{{ path('threads', {id: thread.id}) }}">back to list</a>
		{{ include('threads/_delete.html.twig') }}
	</main>
{% endblock %}
