{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block main %}
	<main>
		<h1>Register</h1>

		{{ include('user/_form.html.twig',  {button_label: 'register'}) }}
		<a href="{{ path('home') }}">back to home page</a>
	</main>
{% endblock %}
